VITE_SUPABASE_URL=https://obgxsqfapewfmitxyopm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9iZ3hzcWZhcGV3Zm1pdHh5b3BtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUzNTAyOTksImV4cCI6MjA4MDkyNjI5OX0.VKGLBeC0y_JlBKyJWj9jgjfVM2diSzLA3xZI_0yxGpc

